.container{
    max-width: 61rem;
    margin: 0px auto;
    padding: 0px 1.5rem;
    min-height: 100vh;
}
.grid-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem 2rem;
    padding: 1.25rem 0.4rem;
}
.pet-box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    border-radius: 10px;
    background-color: white;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    width: 100%;
    height: 100%;
}
.flex-box{
    display: flex;
    flex-direction: column;
    padding: 1.1rem 1.1rem 0.9rem;
    width: 100%;
    height: 100%;
}
.img-box{
    width: 100%;
    height: 12.4rem;
    border-radius: 10px;
<<<<<<< HEAD
    cursor: pointer;
=======
>>>>>>> feature-board
}
.img-box img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.state{
    width: fit-content;
    padding: 0.2rem 1rem;
    margin: 0.65rem 0px;
    font-size: 0.68rem;
    line-height: 0.8rem;
    font-weight: 600;
    background-color: rgb(255, 235, 153);
    border-radius: 21px;
    position: relative;
}
.kind-age{
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 600;
    letter-spacing: -0.3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}
.gender{
    display: flex;
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 600;
    letter-spacing: -0.15px;
}
.address-box{
    padding: 0.8rem 1rem;
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 600;
    color: rgb(134, 134, 136);
    border-top: 1px solid rgb(228, 228, 230);
}
.puppy-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
}
.heart{
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 30%;
    right: 7%;
<<<<<<< HEAD
    cursor: pointer;
}
.blue{
    color: #67A8F4;
}
.pink{
    color: #F33A71;
=======
>>>>>>> feature-board
}
@media(max-width:1024px){
.container{
    max-width: 80rem;
}
.grid-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem 2rem;
    padding: 1.25rem 0.4rem;
}
}
@media(max-width:820px){
    .container{
        max-width: 100rem;
    }
}
@media(max-width:770px){
    .container{
        max-width: 100rem;
    }
    .grid-box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem 2rem;
        /* padding: 1.25rem 0.4rem; */
    }
}
@media(max-width:430px){
    .container{
        max-width: 20rem;
    }
    .grid-box{
        display: grid;
        grid-template-columns: 1fr;
        padding: 1.25rem 0.4rem;
    }   
}